<div class="container-home-section">
    <div class="home-header flex justify-center items-center p-3 lg:p-6 sticky top-0 z-99">
        
    </div>
    <div class="home-body p-6">
        <div class="text-3xl moul text-center">
            សូមអរគុណ
        </div>
        <div class="text-3xl moul text-center mt-5 mb-3">
            មតិយោបលរបស់អ្នកពិតជាមានសារៈសំខាន់ណាស់សំរាប់យើងខ្ញុំ
        </div>
        <div class="image max-w-80 my-0 mx-auto mt-5 mb-3">
            <img src="assets/images/logo.png" alt="logo">
        </div>
    </div>
</div>