.container-home-section {
    width: 100dvw;
    height: 100dvh;
    overflow: auto;

    .home-header {
        width: 100%;
        height: 180px;
        background-image: linear-gradient(#a8f7b5, #ecffef);
    }

    .item-header:first-child {
        color: #4FA15C;

        .title {
            font-family: 'Moul', cursive !important;
        }

        p {
            padding-left: 2rem;
        }

    }

    .item-header:last-child {
        font-family: 'Moul', cursive !important;
        color: #4FA15C;
        font-size: 18px;
    }

    .home-body {
        .body-header {
            width: 100%;
            display: flex;
            justify-content: center;
            font-family: 'Moul', cursive !important;
            font-weight: 600;
        }

        .box-hover {
            --tw-bg-opacity: 1 !important;
            background-color: rgb(241 245 249 / var(--tw-bg-opacity)) !important;
        }

        .vert-move {
            transition: all 0.5s;
        }

        .box-hover:hover {
            --tw-bg-opacity: 1 !important;
            background-color: rgb(226 232 240 / var(--tw-bg-opacity)) !important;

            .vert-move {
                padding-top: 8px;
                transform: scale(1.05);
            }
        }
    }

}